// Import
@import 'assets/header';
@import 'assets/footer';
@import 'assets/login';
@import 'assets/nav';
@import 'assets/dashboard';
@import 'assets/admins';
@import 'assets/articles';
@import 'assets/categories';
@import 'assets/commentaries';
@import 'assets/messages';
@import 'assets/contact';
@import 'assets/subscriber';
@import 'assets/forgot-password';



#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.react-app {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    height: 100%;

    nav {
        grid-column: 1 / 4;
        grid-row: 1;

        @media screen and ($responsive) {
            grid-column: 1 / 13;
            grid-row: 1;
        }
    }

    div {
        grid-column: 4 / 13;
        grid-row: 1;

        @media screen and ($responsive) {
            grid-column: 1 / 13;
            grid-row: 2;
        }
    }
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $teal;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $silver;
    transition: all .15s;

    &:hover, &:focus {
        background: darken($teal, 10%);

        i {
            transform: translateY(-10px);
        }
    }

    i {
        font-size: 1.5em;
        transition: all .15s;
    }
}