@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/*! minireset.css v0.0.7 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.footer {
  background-color: #83c5be;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
}
.footer .footer-left {
  grid-column: 1;
  justify-self: flex-start;
  align-self: flex-end;
  margin-left: 10px;
  margin-bottom: 10px;
}
.footer .footer-left a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #edf6f9;
  transition: color 0.15s;
}
.footer .footer-left a:hover {
  color: #006d77;
}
.footer .footer-center {
  grid-column: 2;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer-center .footer-newsletter {
  margin-top: 10px;
}
.footer .footer-center .footer-newsletter .newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-center .footer-newsletter .newsletter-form div:first-child {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.footer .footer-center .footer-newsletter .newsletter-form div:first-child label {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}
.footer .footer-center .footer-newsletter .newsletter-form div:first-child input {
  border-radius: 10px;
  border: 1px solid #006d77;
  height: 2.5em;
}
.footer .footer-center .footer-newsletter .newsletter-form div:nth-child(2) button {
  border: 1px solid #006d77;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.15s;
}
.footer .footer-center .footer-newsletter .newsletter-form div:nth-child(2) button:hover {
  background-color: #006d77;
  color: #ffffff;
}
.footer .footer-center .copyrights {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 10px;
  margin-top: 30px;
}
.footer .footer-right {
  grid-column: 3;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer-right .social-media {
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
}
.footer .footer-right .social-media p {
  font-family: "Lato", sans-serif;
  font-size: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer .footer-right .social-media li:not(:last-child) {
  margin-bottom: 5px;
}
.footer .footer-right .social-media a {
  text-decoration: none;
  color: #edf6f9;
  font-size: 1.5em;
  transition: color 0.15s;
}
.footer .footer-right .social-media a:hover {
  color: #006d77;
}
.footer .footer-right .developer-credits {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 0.8em;
  margin-bottom: 10px;
  margin-right: 10px;
}

.b-a, .bar:after, .bar:before, .bar {
  transition: all 0.25s;
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 30px;
  border-radius: 15px;
  background-color: #edf6f9;
}
.b-a:hover, .bar:hover:after, .bar:hover:before, .bar:hover {
  background-color: #006d77;
}

.menu-collapsed {
  transition: all 0.25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}
.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  top: 36px;
  left: -9000px;
  padding-left: 0;
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:after, .menu-expanded .bar:before {
  transition: all 0.25s;
  top: 0px;
}

.menu-expanded {
  transition: all 0.25s;
  text-align: center;
  height: 100vh;
  width: 100vw;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded a {
  transition: all 0.15s;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding: 5px;
  color: #ffddd2;
  display: block;
}
.menu-expanded a:hover {
  transition: all 0.15s;
  letter-spacing: 2px;
  color: #e29578;
}
.menu-expanded .bar {
  background-color: transparent;
  transition: all 0.25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.header {
  background: rgba(131, 197, 190, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.header .menu-collapsed {
  grid-column: 1;
}
.header .header-logo {
  grid-column: 2;
  justify-self: center;
  align-self: center;
}
.header .header-logo img {
  width: 100px;
  height: auto;
}
.header .header-search {
  grid-column: 3;
  justify-self: flex-end;
  align-self: flex-start;
  padding-top: 10px;
  padding-right: 10px;
}

main h1, main h2 {
  font-family: "Lato", sans-serif;
}
main p {
  font-family: "Roboto", sans-serif;
}

.b-a, .bar, .bar:before, .bar:after {
  transition: all 0.25s;
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 30px;
  border-radius: 15px;
  background-color: #edf6f9;
}
.b-a:hover, .bar:hover, .bar:hover:before, .bar:hover:after {
  background-color: #006d77;
}

.menu-collapsed {
  transition: all 0.25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}
.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  top: 36px;
  left: -9000px;
  padding-left: 0;
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all 0.25s;
  top: 0px;
}

.menu-expanded {
  transition: all 0.25s;
  text-align: center;
  height: 100vh;
  width: 100vw;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded a {
  transition: all 0.15s;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding: 5px;
  color: #ffddd2;
  display: block;
}
.menu-expanded a:hover {
  transition: all 0.15s;
  letter-spacing: 2px;
  color: #e29578;
}
.menu-expanded .bar {
  background-color: transparent;
  transition: all 0.25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

#wrapper {
  min-height: 100vh;
}
