@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/*! minireset.css v0.0.7 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.footer {
  background-color: #83c5be;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}
.footer .footer-nav {
  grid-column: 1;
  grid-row: 2;
  margin: 10px;
  justify-self: flex-start;
  align-self: flex-end;
}
.footer .footer-nav a {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #edf6f9;
  text-decoration: none;
  transition: color 0.15s;
}
.footer .footer-nav a:hover, .footer .footer-nav a:focus {
  color: #006d77;
}
@media screen and (max-width: 768px) {
  .footer .footer-nav {
    grid-row: 2;
    align-self: center;
  }
}
.footer .footer-newsletter {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: flex-start;
  margin: 10px;
}
.footer .footer-newsletter .newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-newsletter .newsletter-form .newsletter-email {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.footer .footer-newsletter .newsletter-form .newsletter-email label {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .footer .footer-newsletter .newsletter-form .newsletter-email label {
    font-size: 1.2em;
    text-align: center;
  }
}
.footer .footer-newsletter .newsletter-form .newsletter-email input {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  border: 1px solid #006d77;
  border-radius: 5px;
  height: 2em;
  padding: 5px;
}
.footer .footer-newsletter .newsletter-form .newsletter-btn button {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #000000;
  border: 1px solid #006d77;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #edf6f9;
  transition: background-color 0.15s, color 0.15s;
}
.footer .footer-newsletter .newsletter-form .newsletter-btn button:hover, .footer .footer-newsletter .newsletter-form .newsletter-btn button:focus {
  background-color: #006d77;
  color: #edf6f9;
}
@media screen and (max-width: 768px) {
  .footer .footer-newsletter {
    grid-column: 1;
    justify-self: flex-start;
    align-self: flex-start;
    margin-bottom: 20px;
  }
}
.footer .copyrights {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: flex-end;
  margin: 10px;
}
.footer .copyrights p {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .footer .copyrights {
    grid-column: 1/3;
    grid-row: 4;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.footer .social-media {
  grid-column: 3;
  grid-row: 1;
  justify-self: flex-end;
  align-self: flex-start;
  margin: 10px;
}
.footer .social-media p {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #000000;
  text-align: right;
  margin-bottom: 5px;
}
.footer .social-media ul {
  display: flex;
  flex-flow: row-reverse;
}
.footer .social-media ul li {
  text-align: right;
  margin-left: 10px;
}
.footer .social-media ul li a {
  font-size: 2em;
  color: #edf6f9;
  transition: color 0.15s;
}
.footer .social-media ul li a:hover {
  color: #006d77;
}
@media screen and (max-width: 768px) {
  .footer .social-media {
    grid-column: 2;
  }
}
.footer .developer-credits {
  grid-column: 3;
  grid-row: 2;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 10px;
}
.footer .developer-credits p {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  color: #000000;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .footer .developer-credits {
    grid-column: 1/3;
    grid-row: 3;
    margin: 0;
    margin-right: 10px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }
}

.open-menu {
  font-size: 2em;
  color: #edf6f9;
  transition: color 0.15s;
}
.open-menu:hover {
  color: #006d77;
}

.navigation {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navigation .close-menu {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
  font-size: 2em;
  color: #edf6f9;
  transition: color 0.15s;
}
.navigation .close-menu:hover {
  color: #006d77;
}
.navigation .navigation-list {
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.7em;
  text-align: center;
}
.navigation .navigation-list a {
  text-decoration: none;
  color: #ffddd2;
  transition: color 0.15s, letter-spacing 0.15s;
}
.navigation .navigation-list a:hover, .navigation .navigation-list a:focus {
  color: #e29578;
  letter-spacing: 0.1em;
}

.header {
  background-color: #83c5be;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.header .header-menu {
  grid-column: 1;
  margin-top: 10px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .header .header-menu {
    align-self: center;
    grid-row: 1;
  }
}
.header .header-logo {
  grid-column: 2;
  justify-self: center;
  align-self: center;
  margin: 10px;
}
.header .header-logo img {
  width: 100px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .header .header-logo {
    grid-row: 1;
  }
}
.header .header-search {
  grid-column: 3;
  justify-self: flex-end;
  align-self: flex-start;
  margin: 10px;
}
.header .header-search form {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}
.header .header-search form button {
  border: none;
  background: none;
}
.header .header-search form button i {
  font-size: 2em;
  color: #edf6f9;
  cursor: pointer;
  margin-right: 10px;
  transition: color 0.15s;
}
.header .header-search form button i:hover, .header .header-search form button i:focus {
  color: #006d77;
}
.header .header-search form .form-search {
  height: 2.5em;
  width: 200px;
  border: 1px solid #006d77;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .header .header-search {
    align-self: center;
    justify-self: center;
    grid-column: 1/4;
    grid-row: 2;
  }
}
@media screen and (max-width: 768px) {
  .header {
    grid-template-rows: repeat(2, auto);
  }
}

.open-menu {
  font-size: 2em;
  color: #edf6f9;
  transition: color 0.15s;
}
.open-menu:hover {
  color: #006d77;
}

.navigation {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navigation .close-menu {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
  font-size: 2em;
  color: #edf6f9;
  transition: color 0.15s;
}
.navigation .close-menu:hover {
  color: #006d77;
}
.navigation .navigation-list {
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.7em;
  text-align: center;
}
.navigation .navigation-list a {
  text-decoration: none;
  color: #ffddd2;
  transition: color 0.15s, letter-spacing 0.15s;
}
.navigation .navigation-list a:hover, .navigation .navigation-list a:focus {
  color: #e29578;
  letter-spacing: 0.1em;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-title {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: #e29578;
  font-weight: 600;
  margin-bottom: 30px;
}
.about .about-content {
  background: #ffddd2;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
}
.about .about-content p {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  color: #000000;
  margin-bottom: 10px;
}
.about .about-content p:last-child {
  margin-bottom: 0;
}

.category-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-articles .cat-arts-title {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: #e29578;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.category-articles .cat-arts-desc {
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
  margin-bottom: 20px;
}
.category-articles #react-category div ul {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.category-articles #react-category div ul li {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background: #edf6f9;
  border-radius: 10px;
  padding: 20px;
}
.category-articles #react-category div ul li h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}
.category-articles #react-category div ul li figure {
  overflow: hidden;
  border-radius: 10px;
}
.category-articles #react-category div ul li figure img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  transition: all 0.15s;
}
.category-articles #react-category div ul li figure img:hover, .category-articles #react-category div ul li figure img:focus {
  transform: scale(1.1);
}
.category-articles #react-category div ul li .link-to-art {
  margin-top: 10px;
  background: #006d77;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #edf6f9;
  text-decoration: none;
  transition: all 0.15s;
  text-align: center;
}
.category-articles #react-category div ul li .link-to-art:hover, .category-articles #react-category div ul li .link-to-art:focus {
  background: #009caa;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories .categories-title {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: #e29578;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.categories #react-categories div ul {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.categories #react-categories div ul li {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background: #edf6f9;
  border-radius: 10px;
  padding: 20px;
}
.categories #react-categories div ul li h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}
.categories #react-categories div ul li p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  color: #000000;
  font-style: italic;
  margin-bottom: 5px;
}
.categories #react-categories div ul li figure {
  overflow: hidden;
  border-radius: 10px;
}
.categories #react-categories div ul li figure img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  transition: all 0.15s;
}
.categories #react-categories div ul li figure img:hover, .categories #react-categories div ul li figure img:focus {
  transform: scale(1.1);
}
.categories #react-categories div ul li .link-to-cat {
  margin-top: 10px;
  background: #006d77;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #edf6f9;
  text-decoration: none;
  transition: all 0.15s;
  text-align: center;
}
.categories #react-categories div ul li .link-to-cat:hover, .categories #react-categories div ul li .link-to-cat:focus {
  background: #009caa;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact-title {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #e29578;
  margin-bottom: 30px;
}
.contact #react-contact .form-contact-wrapper {
  background: #ffddd2;
  border-radius: 10px;
  padding: 20px;
}
.contact #react-contact .form-contact-wrapper .form-contact {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  row-gap: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.contact #react-contact .form-contact-wrapper .form-contact div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact #react-contact .form-contact-wrapper .form-contact div.form-firstname {
  grid-column: 1/2;
  grid-row: 1;
}
@media screen and (max-width: 768px) {
  .contact #react-contact .form-contact-wrapper .form-contact div.form-firstname {
    grid-column: 1/4;
    justify-self: center;
  }
}
.contact #react-contact .form-contact-wrapper .form-contact div.form-lastname {
  grid-column: 2/4;
  grid-row: 1;
}
@media screen and (max-width: 768px) {
  .contact #react-contact .form-contact-wrapper .form-contact div.form-lastname {
    grid-column: 1/4;
    grid-row: 2;
    justify-self: center;
  }
}
.contact #react-contact .form-contact-wrapper .form-contact div.form-email {
  grid-column: 1/4;
  grid-row: 2;
}
@media screen and (max-width: 768px) {
  .contact #react-contact .form-contact-wrapper .form-contact div.form-email {
    grid-column: 1/4;
    grid-row: 3;
    justify-self: center;
  }
}
.contact #react-contact .form-contact-wrapper .form-contact div.form-content {
  grid-column: 1/4;
  grid-row: 3;
}
@media screen and (max-width: 768px) {
  .contact #react-contact .form-contact-wrapper .form-contact div.form-content {
    grid-row: 4;
    justify-self: center;
  }
}
.contact #react-contact .form-contact-wrapper .form-contact div.h-captcha {
  grid-column: 1/4;
  grid-row: 4;
}
@media screen and (max-width: 768px) {
  .contact #react-contact .form-contact-wrapper .form-contact div.h-captcha {
    grid-row: 5;
  }
}
.contact #react-contact .form-contact-wrapper .form-contact div.form-btn {
  grid-column: 1/4;
  grid-row: 5;
  justify-self: center;
  display: inline-block;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .contact #react-contact .form-contact-wrapper .form-contact div.form-btn {
    grid-row: 6;
  }
}
.contact #react-contact .form-contact-wrapper .form-contact div.form-info {
  grid-column: 1/4;
  grid-row: 6;
  justify-self: center;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-style: italic;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .contact #react-contact .form-contact-wrapper .form-contact div.form-info {
    grid-row: 7;
  }
}
.contact #react-contact .form-contact-wrapper .form-contact label {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  color: #000000;
  margin-bottom: 5px;
}
.contact #react-contact .form-contact-wrapper .form-contact input {
  border: 1px solid #006d77;
  border-radius: 5px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
}
.contact #react-contact .form-contact-wrapper .form-contact textarea {
  resize: none;
  width: 500px;
  height: 200px;
  border: 1px solid #006d77;
  border-radius: 5px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .contact #react-contact .form-contact-wrapper .form-contact textarea {
    width: 300px;
    height: 400px;
  }
}
.contact #react-contact .form-contact-wrapper .form-contact button {
  background: #006d77;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #edf6f9;
  transition: all 0.15s;
}
.contact #react-contact .form-contact-wrapper .form-contact button:hover, .contact #react-contact .form-contact-wrapper .form-contact button:focus {
  cursor: pointer;
  background: #009caa;
}
.contact #react-contact .form-contact-wrapper .form-contact button.btn-cancel {
  margin-right: 5px;
}
.contact #react-contact .form-contact-wrapper .form-contact button.btn-submit {
  margin-left: 5px;
}
.contact .social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.contact .social-media .social-title {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #e29578;
  font-weight: 600;
  text-align: center;
}
.contact .social-media ul {
  display: flex;
  justify-content: space-around;
  background: #ffddd2;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin-top: 20px;
}
.contact .social-media ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .social-media ul li h4 {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  color: #000000;
}
.contact .social-media ul li a {
  text-decoration: none;
  font-size: 2em;
  color: #006d77;
  transition: all 0.15s;
}
.contact .social-media ul li a:hover, .contact .social-media ul li a:focus {
  color: #009caa;
}

.home {
  display: flex;
  flex-direction: column;
}
.home .home-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.home .home-about .about-title {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #e29578;
  margin-bottom: 20px;
  text-align: center;
}
.home .home-about .about-content {
  background: #ffddd2;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
.home .home-about .about-content p {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #000000;
  margin-bottom: 20px;
}
.home .home-about .about-content a {
  align-self: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-style: italic;
  color: #edf6f9;
  background: #006d77;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.15s;
}
.home .home-about .about-content a:hover, .home .home-about .about-content a:focus {
  background: #009caa;
}
.home #react-home-articles .home-articles {
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.home #react-home-articles .home-articles .loading-text {
  font-family: "Lato", sans-serif;
  color: #e29578;
  font-size: 1.5em;
}
.home #react-home-articles .home-articles ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .home #react-home-articles .home-articles ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.home #react-home-articles .home-articles li {
  max-width: 300px;
  margin: 10px;
  background: #edf6f9;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.home #react-home-articles .home-articles a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home #react-home-articles .home-articles a:hover img, .home #react-home-articles .home-articles a:focus img {
  transform: scale(1.1);
}
.home #react-home-articles .home-articles a:hover h3, .home #react-home-articles .home-articles a:focus h3 {
  background: #009caa;
}
.home #react-home-articles .home-articles h3 {
  background: #006d77;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #edf6f9;
  margin-top: 10px;
  transition: all 0.15s;
  text-align: center;
}
.home #react-home-articles .home-articles figure {
  overflow: hidden;
  border-radius: 10px;
}
.home #react-home-articles .home-articles figure img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  transition: all 0.15s;
}

#react-article .article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#react-article .article .article-card {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #edf6f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}
#react-article .article .article-card .article-title {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: #e29578;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
#react-article .article .article-card figure {
  overflow: hidden;
  border-radius: 10px;
}
#react-article .article .article-card figure img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}
#react-article .article .article-card figure img:hover {
  cursor: zoom-in;
}
#react-article .article .article-card .article-desc {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
  margin-top: 10px;
  align-self: flex-start;
}
#react-article .article .com-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#react-article .article .com-card .com-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
#react-article .article .com-card .com-list h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #e29578;
  text-align: center;
  margin-bottom: 10px;
}
#react-article .article .com-card .com-list ul {
  display: flex;
  flex-direction: column;
}
#react-article .article .com-card .com-list ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #edf6f9;
  border-radius: 10px;
  padding: 20px;
}
#react-article .article .com-card .com-list ul li:not(:last-child) {
  margin-bottom: 5px;
}
#react-article .article .com-card .com-list ul li h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: #000000;
  font-weight: 700;
  margin-bottom: 10px;
}
#react-article .article .com-card .com-list ul li .com-content {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 1em;
}
#react-article .article .com-card .com-list ul li .com-date {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-style: italic;
  color: #000000;
}
#react-article .article .com-card .com-create {
  display: flex;
  flex-direction: column;
  background: #ffddd2;
  padding: 20px;
  border-radius: 10px;
}
#react-article .article .com-card .com-create h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #e29578;
  text-align: center;
  margin-bottom: 10px;
}
#react-article .article .com-card .com-create form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
}
#react-article .article .com-card .com-create form .com-firstname {
  grid-column: 1;
  grid-row: 1;
}
@media screen and (max-width: 768px) {
  #react-article .article .com-card .com-create form .com-firstname {
    grid-column: 1/3;
  }
}
#react-article .article .com-card .com-create form .com-lastname {
  grid-column: 2;
  grid-row: 1;
}
@media screen and (max-width: 768px) {
  #react-article .article .com-card .com-create form .com-lastname {
    grid-column: 1/3;
    grid-row: 2;
  }
}
#react-article .article .com-card .com-create form .com-content {
  grid-column: 1/3;
  grid-row: 2;
}
@media screen and (max-width: 768px) {
  #react-article .article .com-card .com-create form .com-content {
    grid-row: 3;
  }
}
#react-article .article .com-card .com-create form .h-captcha {
  grid-column: 1/3;
  grid-row: 3;
}
@media screen and (max-width: 768px) {
  #react-article .article .com-card .com-create form .h-captcha {
    grid-row: 4;
  }
}
#react-article .article .com-card .com-create form .com-btn {
  grid-column: 1/3;
  grid-row: 4;
  justify-self: center;
  display: inline-block;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  #react-article .article .com-card .com-create form .com-btn {
    grid-row: 5;
  }
}
#react-article .article .com-card .com-create form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#react-article .article .com-card .com-create form label {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  color: #000000;
  text-align: center;
  margin-bottom: 5px;
}
#react-article .article .com-card .com-create form input {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
  border: 1px solid #006d77;
  border-radius: 5px;
  padding: 5px;
}
#react-article .article .com-card .com-create form textarea {
  resize: none;
  width: 500px;
  height: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
  border: 1px solid #006d77;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  #react-article .article .com-card .com-create form textarea {
    width: 300px;
    height: 400px;
  }
}
#react-article .article .com-card .com-create form button {
  background: #006d77;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #edf6f9;
  transition: all 0.15s;
}
#react-article .article .com-card .com-create form button:hover, #react-article .article .com-card .com-create form button:focus {
  cursor: pointer;
  background: #009caa;
}
#react-article .article .com-card .com-create form button.btn-cancel {
  margin-right: 5px;
}
#react-article .article .com-card .com-create form button.btn-submit {
  margin-left: 5px;
}
#react-article .article .zoom-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#react-article .article .zoom-wrapper:hover {
  cursor: zoom-out;
}
#react-article .article .zoom-wrapper p {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #edf6f9;
  margin-bottom: 20px;
  text-align: center;
}
#react-article .article .zoom-wrapper img {
  max-width: 800px;
  height: auto;
}
@media screen and (max-width: 768px) {
  #react-article .article .zoom-wrapper img {
    max-width: 350px;
  }
}
#react-article .article .zoom-wrapper img:hover {
  cursor: zoom-out;
}

.legals {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.legals .legal-card {
  display: flex;
  flex-direction: column;
  background: #ffddd2;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  max-width: 800px;
}
.legals .legal-card .legal-title {
  align-self: center;
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #e29578;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.legals .legal-card .legal-content {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
}
.legals .legal-card .legal-content p:not(:last-child) {
  margin-bottom: 10px;
}

.search {
  display: flex;
  flex-direction: column;
}
.search #react-search-result .search-result {
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background: #ffddd2;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search #react-search-result .search-result .loading-text {
  font-family: "Lato", sans-serif;
  color: #e29578;
  font-size: 1.5em;
}
.search #react-search-result .search-result h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #e29578;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.search #react-search-result .search-result .error {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #000000;
  text-align: center;
}
.search #react-search-result .search-result ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .search #react-search-result .search-result ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.search #react-search-result .search-result li {
  margin: 10px;
  background: #edf6f9;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.search #react-search-result .search-result a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search #react-search-result .search-result a:hover img, .search #react-search-result .search-result a:focus img {
  transform: scale(1.1);
}
.search #react-search-result .search-result a:hover h3, .search #react-search-result .search-result a:focus h3 {
  background: #009caa;
}
.search #react-search-result .search-result h3 {
  background: #006d77;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #edf6f9;
  margin-top: 10px;
  transition: all 0.15s;
  text-align: center;
}
.search #react-search-result .search-result figure {
  overflow: hidden;
  border-radius: 10px;
}
.search #react-search-result .search-result figure img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  transition: all 0.15s;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#wrapper .home-alert {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 600px;
  background: #edf6f9;
  padding: 20px;
}
#wrapper .home-alert:hover {
  box-shadow: 0 0 5px #000000;
}
#wrapper .home-alert p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  color: #000000;
  text-align: center;
}
#wrapper .home-alert p:last-child {
  font-size: 0.7em;
  margin-top: 10px;
  font-style: italic;
}
#wrapper .home-alert a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-style: italic;
  color: #006d77;
  transition: all 0.15s;
}
#wrapper .home-alert a:hover, #wrapper .home-alert a:focus {
  color: #009caa;
}
#wrapper .ariane {
  align-self: flex-start;
  margin-bottom: 40px;
}
#wrapper .ariane a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  color: #006d77;
  transition: all 0.15s;
}
#wrapper .ariane a:hover, #wrapper .ariane a:focus {
  color: #009caa;
}
#wrapper .ariane #ariane-active {
  color: #009caa;
}

main {
  flex: 1;
  padding: 20px;
}
