@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/*! minireset.css v0.0.7 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.footer {
  background-color: #83c5be;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}
.footer .footer-nav {
  grid-column: 1;
  grid-row: 2;
  margin: 10px;
  justify-self: flex-start;
  align-self: flex-end;
}
.footer .footer-nav a {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #edf6f9;
  text-decoration: none;
  transition: color 0.15s;
}
.footer .footer-nav a:hover, .footer .footer-nav a:focus {
  color: #006d77;
}
@media screen and (max-width: 768px) {
  .footer .footer-nav {
    grid-row: 2;
    align-self: center;
  }
}
.footer .footer-newsletter {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: flex-start;
  margin: 10px;
}
.footer .footer-newsletter .newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-newsletter .newsletter-form div:first-child {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.footer .footer-newsletter .newsletter-form div:first-child label {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .footer .footer-newsletter .newsletter-form div:first-child label {
    font-size: 1.2em;
    text-align: center;
  }
}
.footer .footer-newsletter .newsletter-form div:first-child input {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  border: 1px solid #006d77;
  border-radius: 5px;
  height: 2em;
}
.footer .footer-newsletter .newsletter-form div:nth-child(2) button {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #000000;
  border: 1px solid #006d77;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #edf6f9;
  transition: background-color 0.15s, color 0.15s;
}
.footer .footer-newsletter .newsletter-form div:nth-child(2) button:hover, .footer .footer-newsletter .newsletter-form div:nth-child(2) button:focus {
  background-color: #006d77;
  color: #edf6f9;
}
@media screen and (max-width: 768px) {
  .footer .footer-newsletter {
    grid-column: 1;
    justify-self: flex-start;
    align-self: flex-start;
    margin-bottom: 20px;
  }
}
.footer .copyrights {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: flex-end;
  margin: 10px;
}
.footer .copyrights p {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .footer .copyrights {
    grid-column: 1/3;
    grid-row: 4;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.footer .social-media {
  grid-column: 3;
  grid-row: 1;
  justify-self: flex-end;
  align-self: flex-start;
  margin: 10px;
}
.footer .social-media p {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #000000;
  text-align: right;
  margin-bottom: 5px;
}
.footer .social-media ul {
  display: flex;
  flex-flow: row-reverse;
}
.footer .social-media ul li {
  text-align: right;
  margin-left: 10px;
}
.footer .social-media ul li a {
  font-size: 2em;
  color: #edf6f9;
  transition: color 0.15s;
}
.footer .social-media ul li a:hover {
  color: #006d77;
}
@media screen and (max-width: 768px) {
  .footer .social-media {
    grid-column: 2;
  }
}
.footer .developer-credits {
  grid-column: 3;
  grid-row: 2;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 10px;
}
.footer .developer-credits p {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  color: #000000;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .footer .developer-credits {
    grid-column: 1/3;
    grid-row: 3;
    margin: 0;
    margin-right: 10px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }
}

.open-menu {
  font-size: 2em;
  color: #edf6f9;
  transition: color 0.15s;
}
.open-menu:hover {
  color: #006d77;
}

.navigation {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation .close-menu {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  font-size: 2em;
  color: #edf6f9;
  transition: color 0.15s;
}
.navigation .close-menu:hover {
  color: #006d77;
}
.navigation .navigation-list {
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.7em;
  text-align: center;
}
.navigation .navigation-list a {
  text-decoration: none;
  color: #ffddd2;
  transition: color 0.15s, letter-spacing 0.15s;
}
.navigation .navigation-list a:hover, .navigation .navigation-list a:focus {
  color: #e29578;
  letter-spacing: 0.1em;
}

.header {
  background-color: #83c5be;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.header .header-menu {
  grid-column: 1;
  margin-top: 10px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .header .header-menu {
    align-self: center;
    grid-row: 1;
  }
}
.header .header-logo {
  grid-column: 2;
  justify-self: center;
  align-self: center;
  margin: 10px;
}
.header .header-logo img {
  width: 100px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .header .header-logo {
    grid-row: 1;
  }
}
.header .header-search {
  grid-column: 3;
  justify-self: flex-end;
  align-self: flex-start;
  margin: 10px;
}
.header .header-search form {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}
.header .header-search form button {
  border: none;
  background: none;
}
.header .header-search form button i {
  font-size: 2em;
  color: #edf6f9;
  cursor: pointer;
  margin-right: 10px;
  transition: color 0.15s;
}
.header .header-search form button i:hover, .header .header-search form button i:focus {
  color: #006d77;
}
.header .header-search form .form-search {
  height: 2.5em;
  width: 200px;
  border: 1px solid #006d77;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .header .header-search {
    align-self: center;
    justify-self: center;
    grid-column: 1/4;
    grid-row: 2;
  }
}
@media screen and (max-width: 768px) {
  .header {
    grid-template-rows: repeat(2, auto);
  }
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
main .main-title {
  grid-column: 3/11;
  grid-row: 1;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 700;
  font-style: italic;
  color: #e29578;
  text-align: center;
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  main .main-title {
    grid-column: 2/12;
    font-size: 1.5em;
  }
}
main .main-desc {
  grid-column: 3/11;
  grid-row: 2;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #000000;
}
main #react-carousel {
  grid-column: 2/12;
  grid-row: 1;
  margin: 20px auto;
}
main #react-carousel .carousel-container {
  display: flex;
}
main .home-about {
  grid-column: 3/11;
  grid-row: 2;
  background: #edf6f9;
  padding: 20px;
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main .home-about {
    grid-column: 2/12;
  }
}
main .home-about p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
}
main .home-about .link-to-about {
  margin-top: 20px;
}
main .home-about .link-to-about a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  font-style: italic;
  color: #000000;
  background: #ffddd2;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.15s;
}
main .home-about .link-to-about a:hover, main .home-about .link-to-about a:focus {
  background: #e29578;
}
main .about-content {
  grid-column: 3/11;
  grid-row: 2;
  background: #edf6f9;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
main .about-content p {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}
main .about-content p:not(:first-child) {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  main .about-content {
    grid-column: 2/12;
  }
  main .about-content p {
    font-size: 1em;
  }
}
main #react-contact {
  grid-column: 3/11;
  grid-row: 2;
  justify-self: center;
  background: #edf6f9;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 700px;
}
main #react-contact .form-contact {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
main #react-contact .form-contact label {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #e29578;
  margin-bottom: 5px;
}
main #react-contact .form-contact input {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #000000;
  width: 200px;
  height: 30px;
  border: 1px solid #006d77;
  border-radius: 5px;
}
main #react-contact .form-contact .form-firstname {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main #react-contact .form-contact .form-firstname {
    grid-column: 1/4;
  }
}
main #react-contact .form-contact .form-lastname {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main #react-contact .form-contact .form-lastname {
    grid-column: 1/4;
    grid-row: 2;
  }
}
main #react-contact .form-contact .form-email {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main #react-contact .form-contact .form-email {
    grid-column: 1/4;
    grid-row: 3;
  }
}
main #react-contact .form-contact .form-content {
  grid-column: 1/4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #react-contact .form-contact .form-content #form-content {
  width: 600px;
  height: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: #000000;
  padding: 10px;
  resize: none;
  border: 1px solid #006d77;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  main #react-contact .form-contact .form-content #form-content {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  main #react-contact .form-contact .form-content {
    grid-row: 4;
  }
}
main #react-contact .form-contact .form-btn {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main #react-contact .form-contact .form-btn button {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: #000000;
  background: #ffddd2;
  border: 1px solid #e29578;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.15s;
}
main #react-contact .form-contact .form-btn button:hover, main #react-contact .form-contact .form-btn button:focus {
  background: #e29578;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  main #react-contact .form-contact .form-btn {
    grid-column: 2/3;
    grid-row: 5;
  }
}
@media screen and (max-width: 768px) {
  main #react-contact {
    grid-column: 2/12;
    width: 100%;
  }
}
main #react-categories {
  grid-row: 2;
  grid-column: 2/12;
}
@media screen and (max-width: 768px) {
  main #react-categories {
    grid-column: 1/13;
  }
}
main #react-categories ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  main #react-categories ul {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
main #react-categories ul li {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background: #ffddd2;
  display: flex;
  flex-direction: column;
}
main #react-categories ul li h3 {
  text-decoration: none;
  text-align: center;
  color: #e29578;
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}
main #react-categories ul li p {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  color: #000000;
}
main #react-categories ul li .cat-img {
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}
main #react-categories ul li .cat-img img {
  transition: transform 0.15s;
  max-width: 300px;
  height: auto;
}
@media screen and (max-width: 768px) {
  main #react-categories ul li .cat-img img {
    max-width: 250px;
  }
}
main #react-categories ul li .cat-img img:hover {
  transform: scale(1.1);
}
main #react-categories ul li .link-to-art {
  text-decoration: none;
  align-self: center;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #006d77;
  padding: 5px;
  transition: all 0.15s;
}
main #react-categories ul li .link-to-art:hover, main #react-categories ul li .link-to-art:focus {
  background: #edf6f9;
  border-radius: 5px;
}
main #react-category {
  grid-column: 2/12;
  grid-row: 3;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  main #react-category {
    grid-column: 1/13;
  }
}
main #react-category ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main #react-category li {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background: #ffddd2;
  display: flex;
  flex-direction: column;
}
main #react-category li h3 {
  text-decoration: none;
  text-align: center;
  color: #e29578;
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}
main #react-category li p {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  color: #000000;
}
main #react-category li .art-img {
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
}
main #react-category li .art-img img {
  max-width: 250px;
  height: auto;
  transition: all 0.15s;
}
main #react-category li .art-img img:hover, main #react-category li .art-img img:focus {
  transform: scale(1.1);
}
main #react-category li a:last-child {
  text-decoration: none;
  align-self: center;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #006d77;
  padding: 5px;
  transition: all 0.15s;
}
main #react-category li a:last-child:hover, main #react-category li a:last-child:focus {
  background: #edf6f9;
  border-radius: 5px;
}
main #react-article {
  grid-row: 1;
  grid-column: 2/12;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  main #react-article {
    grid-column: 1/13;
  }
}
main #react-article .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffddd2;
  padding: 20px;
  border-radius: 20px;
}
main #react-article .card figure {
  overflow: hidden;
}
main #react-article .card figure img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  main #react-article .card figure img {
    max-width: 250px;
  }
}
main #react-article .card figure img:hover, main #react-article .card figure img:focus {
  cursor: pointer;
}
main #react-article .card .art-desc {
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: #000000;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
main #react-article .com-card {
  padding: 10px;
  margin-top: 20px;
  background: #edf6f9;
  border-radius: 10px;
  width: 80%;
}
@media screen and (max-width: 768px) {
  main #react-article .com-card {
    width: 100%;
  }
}
main #react-article .com-card h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  color: #e29578;
  text-align: center;
}
main #react-article .com-card .com-list li {
  background: #ffffff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
main #react-article .com-card .com-list li h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
}
main #react-article .com-card .com-list li .com-content {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  color: #000000;
  margin-bottom: 10px;
}
main #react-article .com-card .com-list li .com-date {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  color: #000000;
}
main #react-article .com-card .com-create form {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: auto;
  row-gap: 10px;
}
main #react-article .com-card .com-create form label {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  color: #006d77;
}
main #react-article .com-card .com-create form .com-firstname {
  grid-column: 1/7;
  grid-row: 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main #react-article .com-card .com-create form .com-firstname {
    grid-column: 1/13;
  }
}
main #react-article .com-card .com-create form .com-firstname #com-firstname {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
  border: 1px solid #006d77;
  border-radius: 5px;
  width: 200px;
}
main #react-article .com-card .com-create form .com-lastname {
  grid-column: 7/13;
  grid-row: 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main #react-article .com-card .com-create form .com-lastname {
    grid-column: 1/13;
    grid-row: 2;
  }
}
main #react-article .com-card .com-create form .com-lastname #com-lastname {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
  border: 1px solid #006d77;
  border-radius: 5px;
  width: 200px;
}
main #react-article .com-card .com-create form .com-content {
  grid-column: 1/13;
  grid-row: 2;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  main #react-article .com-card .com-create form .com-content {
    grid-row: 3;
  }
}
main #react-article .com-card .com-create form .com-content #com-content {
  resize: none;
  width: 400px;
  height: 100px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
  border: 1px solid #006d77;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  main #react-article .com-card .com-create form .com-content #com-content {
    width: 270px;
    height: 50px;
  }
}
main #react-article .com-card .com-create form .com-btn {
  grid-column: 1/13;
  grid-row: 3;
  justify-self: center;
}
@media screen and (max-width: 768px) {
  main #react-article .com-card .com-create form .com-btn {
    grid-row: 4;
  }
}
main #react-article .com-card .com-create form .com-btn button {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #006d77;
  padding: 10px 15px;
  background: #83c5be;
  border: none;
  border-radius: 5px;
  transition: all 0.15s;
}
main #react-article .com-card .com-create form .com-btn button:hover, main #react-article .com-card .com-create form .com-btn button:focus {
  background: #006d77;
  color: #edf6f9;
  cursor: pointer;
}
main #react-article .com-card .com-create form .com-btn #btn-cancel {
  margin-right: 5px;
}
main #react-article .com-card .com-create form .com-btn #btn-submit {
  margin-left: 5px;
}
main #legals {
  grid-column: 2/12;
  grid-row: 1;
  margin: 20px auto;
}

.open-menu {
  font-size: 2em;
  color: #edf6f9;
  transition: color 0.15s;
}
.open-menu:hover {
  color: #006d77;
}

.navigation {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation .close-menu {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  font-size: 2em;
  color: #edf6f9;
  transition: color 0.15s;
}
.navigation .close-menu:hover {
  color: #006d77;
}
.navigation .navigation-list {
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.7em;
  text-align: center;
}
.navigation .navigation-list a {
  text-decoration: none;
  color: #ffddd2;
  transition: color 0.15s, letter-spacing 0.15s;
}
.navigation .navigation-list a:hover, .navigation .navigation-list a:focus {
  color: #e29578;
  letter-spacing: 0.1em;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
