// Imports
@import 'assets/footer';
@import 'assets/header';
@import 'assets/menu';
@import 'assets/about';
@import 'assets/cat-arts';
@import 'assets/categories';
@import 'assets/contact';
@import 'assets/home';
@import 'assets/article';
@import 'assets/legals';
@import 'assets/search';




#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .ariane {
        align-self: flex-start;
        margin-bottom: 40px;

        a {
            text-decoration: none;
            font-family: $lato;
            font-size: 0.8em;
            color: $teal;
            transition: all .15s;

            &:hover, &:focus {
                color: lighten($teal, 10%);
            }
        }

        #ariane-active {
            color: lighten($teal, 10%);
        }
    }

    .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: $teal;
        padding: 10px;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $silver;
        transition: all .15s;

        &:hover, &:focus {
            background: darken($teal, 10%);

            i {
                transform: translateY(-10px);
            }
        }

        i {
            font-size: 1.5em;
            transition: all .15s;
        }
    }
}

main {
    flex: 1;
    padding: 20px;
}