// Imports
@import 'assets/footer';
@import 'assets/header';
@import 'assets/menu';
@import 'assets/about';
@import 'assets/articles';
@import 'assets/categories';
@import 'assets/contact';
@import 'assets/home';
@import 'assets/onearticle';
@import 'assets/legals';




#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}