.password-reset {
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: $light-peach;
    border-radius: 10px;

    @media screen and ($responsive) {
        margin: 10px;
    }

    h1 {
        font-family: $lato;
        font-size: 2em;
        color: $peach;
        text-align: center;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        #pwd-check {
            font-family: $roboto;
            font-size: 1em;
            color: $black;
            text-align: center;
        }

        label {
            font-family: $lato;
            color: $black;
            font-size: 1em;
            text-align: center;
            margin-bottom: 5px;
        }

        input {
            width: 250px;
            padding: 5px;
            font-family: $roboto;
            font-size: 1em;
            color: $black;
            border-radius: 5px;
            border: 1px solid $teal;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .submit {
            margin-top: 10px;
            margin-bottom: 20px;

            button {
                background: teal;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                font-family: $lato;
                color: $silver;
                font-size: 1em;
                transition: all .15s;

                &:hover, &:focus {
                    background: lighten($teal, 10%);
                    cursor: pointer;
                }
            }
        }
    }

    .email-infos {
        font-family: $roboto;
        color: $black;
        font-size: 0.8em;
        text-align: center;
    }
}