// Formulaire de création et de modification d'une catégorie
@mixin form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-family: $lato;
        color: black;
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    form {
        background: $light-peach;
        border-radius: 10px;
        padding: 20px;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and ($responsive) {
            width: 300px;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5px auto;

            &:last-child {
                flex-direction: row;
            }
        }

        label {
            font-family: $roboto;
            font-size: 1.1em;
            color: $black;
            text-align: center;
        }

        .category-img input {
            background: $white;
            padding: 5px;
            border-radius: 5px;
            margin-top: 5px;
        }

        .category-img img {
            width: 250px;
            height: auto;
        }

        .category-name input {
            margin-top: 5px;
            font-family: $roboto;
            font-size: 0.9em;
            color: $black;
            border: 1px solid $peach;
            border-radius: 5px;
            padding: 5px;
            width: 200px;
        }

        .category-desc textarea {
            resize: none;
            margin-top: 5px;
            font-family: $roboto;
            font-size: 0.9em;
            color: $black;
            border: 1px solid $peach;
            border-radius: 5px;
            padding: 5px;
            width: 400px;
            height: 100px;

            @media screen and ($responsive) {
                width: 250px;
                height: 300px;
            }
        }

        .category-btns {
            margin-top: 30px;

            button {
                font-family: $roboto;
                font-size: 1.1em;
                background: $peach;
                color: $white;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                transition: all .15s;

                &:hover, &:focus {
                    cursor: pointer;
                    background: darken($peach, 10%);
                }

                &.btn-cancel {
                    margin-right: 10px;
                }
            }
        }
    }
}






.admin-category {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: $lato;
        color: $peach;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .category-create {
        @include form;
    }

    .category-modify {
        @include form;
    }

    .category-list {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-family: $lato;
            color: black;
            font-size: 1.3em;
            margin-bottom: 10px;
        }

        ul {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background: $light-peach;
            padding: 20px;
            border-radius: 10px;
        }

        li {
            margin: 10px;
            background: $silver;
            padding: 20px;
            border-radius: 10px;
            max-width: 250px;

            h4 {
                font-family: $lato;
                color: $peach;
                font-size: 1.3em;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .category-desc {
                font-family: $roboto;
                font-size: 1em;
                color: $black;
                margin-bottom: 5px;
            }

            img {
                width: 250px;
                height: auto;
                border-radius: 5px;
                margin-bottom: 20px;
            }

            button {
                font-family: $roboto;
                font-size: 1.1em;
                background: $peach;
                color: $white;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                transition: all .15s;

                &:hover, &:focus {
                    cursor: pointer;
                    background: darken($peach, 10%);
                }

                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}