.admin-contact {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: $lato;
        color: $peach;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .contact-list {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-family: $lato;
            color: black;
            font-size: 1.3em;
            margin-bottom: 10px;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: $light-peach;
            padding: 20px;
            border-radius: 10px;
        }

        li {
            margin: 10px;
            background: $silver;
            padding: 20px;
            border-radius: 10px;
            max-width: 600px;
            display: flex;
            flex-direction: column;

            .name {
                font-family: $lato;
                color: $peach;
                font-size: 1.3em;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .email {
                margin-bottom: 5px;
        
                 a {
                    text-decoration: none;
                    font-family: $roboto;
                    font-size: 1em;
                    font-style: italic;
                    color: $teal;
                    transition: all .15s;

                    &:hover, &:focus {
                        color: lighten($teal, 10%);
                    }
                 }
            }

            .content {
                font-family: $roboto;
                font-size: 1em;
                color: $black;
                margin-bottom: 20px;
            }

            .delete {
                align-self: center;
                font-family: $roboto;
                font-size: 1.1em;
                background: $peach;
                color: $white;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                transition: all .15s;

                &:hover, &:focus {
                    cursor: pointer;
                    background: darken($peach, 10%);
                }
            }
        }
    }
}